@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
    overflow-x: hidden;
    word-break: keep-all;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
