@import url('./slider.module.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply font-sans;
    overflow-x: hidden;
    word-break: keep-all;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/NotoSans/NotoSansKR-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/NotoSans/NotoSansKR-Medium.otf') format('otf');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 700;
  src: local(''), url('/fonts/NotoSans/NotoSansKR-Bold.otf') format('otf');
}
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/SUIT/SUIT-Regular.otf') format('otf');
}
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/SUIT/SUIT-Medium.otf') format('otf');
}
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/SUIT/SUIT-Bold.otf') format('otf');
}



